.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    opacity: 0.8;
    z-index: -1;
    transition: background 1s ease-in-out;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
    transition: background 1s ease-in-out;
}
